list all items from sql table

<div>
	<section>
		for each item in db {
			<div class="">
				<div id="">
					item name
				</div>
				
				<div id="">
					item details
				</div>

			</div>

		}
	</section>
</div>